<nav class="navbar navbar-expand-lg fixed-top bg-transparent px-4">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="assets/railwayLogo.jpg" alt="Railway Logo" width="30" height="30" class="rounded-circle me-2" />
    Railway
  </a>
  <div class="ms-auto d-flex gap-3">
    <a class="nav-link" routerLink="/homepage">Homepage</a>
    <a class="nav-link" routerLink="/login">Login</a>
    <a class="nav-link" routerLink="/register">Register</a>
    <a class="nav-link" routerLink="/searchtrain">Search</a>
    <a class="nav-link" routerLink="/trainchart">Train Chart</a>
  </div>
</nav>
