<div class="bg-light p-3 vh-100" style="width: 250px;">
  <h5 class="text-primary">User Panel</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/userdetails">User Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addreservation">Add Reservation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cancelreservation">Cancel Reservation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/allreservations">All Reservations</a>
    </li>
  </ul>
</div>
