<app-navigationbar></app-navigationbar>

<div class="hero-section text-white">
  <div class="container-fluid d-flex align-items-top justify-content-left vh-100 pt-0">
    <div class="row w-100 align-items-center">
      <div class="col-md-6 text-left mb-4 mb-md-3">
        <img src="assets/railwayLogo.jpg" alt="Railway side image" class="img-fluid rounded-circle" style="max-width: 60%;" />
      </div>
      <div class="col-md-6 text-center">
        <h3 class="display-6 fw-bold font-heading mb-3">Your journey begins with a click</h3>
        <p class="lead font-body mx-auto" style="max-width: 600px;">
          With our online railway ticket booking system, you can plan your travel from the comfort of your home—
          no more standing in long queues or rushing to the station. Whether you're booking for today or planning ahead,
          our platform offers a fast, secure, and user-friendly experience. Just search, select, and confirm your seat in seconds.
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
